* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  color: #fff;
}
.header {
  position: relative;
  font-weight: 400;
  position: fixed;
  left: 0;
  top: 50px;
  z-index: 10;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: calc(100% - 100px);
  align-content: space-between;
  justify-content: space-between;
  margin: 0 50px;
  mix-blend-mode: difference;
  z-index: 100;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.header svg {
  fill: #fff;
  height: 30px;
}
.header span {
  margin-left: 10px;
}
.plus__wrapper {
  width: 26px;
  height: 26px;
  position: relative;
  cursor: pointer;
}
.plus_horizontal {
  width: 26px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.plus_vertical {
  width: 3px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
canvas {
  display: block;
}
#container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
.content {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 100px;
  padding: 200px;
  /* width: auto; */
}

/* item */
.item {
  font-family: "acumin-variable", sans-serif;

  text-decoration: none;
  color: #fff;
  font-size: 0.7rem;
  padding-top: 6px;
  letter-spacing: 1px;
}
.item a {
  text-decoration: none;
  color: #fff;
}
.item h2 {
  color: #fff;
  padding-top: 6px;
  font-weight: 400;
}
.item p {
  color: #fff;
  padding-top: 4px;
  font-size: 0.8rem;
}
.item:last-child {
  margin-right: 300px;
}
.item img {
  width: 30vw;
  height: 30vw;
  /* opacity: 0.1; */
  opacity: 0;
}
/* single */

.single h1 {
  margin-bottom: 1em;
  margin-top: 4em;
  font-size: 2.5rem;
}
.single a {
  text-decoration: none;
}
figure {
  border-top: 1px solid #fff;
  margin: 3em 0 3em 0;
  padding: 3em 0 3em 0;
  display: flex;
  gap: 50px;
}
figure figcaption {
  display: flex;
  align-items: flex-end;
}
figure + figure {
  flex-direction: row-reverse;
}
figure img {
  float: left;
  margin-right: 30px;
}
.single__content {
  font-family: "acumin-variable", sans-serif;
  max-width: 1000px;
  margin: 50px auto;
}
.single__content p {
  font-family: "acumin-variable", sans-serif;
  line-height: 1.7;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 100;
}
.single__content a {
  color: #fff;
}
.single__top {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.footer {
  border-top: 1px solid #fff;
  padding-bottom: 6rem;
  padding-top: 6rem;
  margin-top: 200px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  height: 400px;
  text-align: center;
}
.footer h2 {
  font-size: 100px;
  line-height: 1;
  margin-bottom: 3rem;
}
.credit {
  text-decoration: underline !important;
}

.footer__social {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

[data-barba-namespace] {
  position: absolute;
  top: 0;
}

canvas {
  /* display: none !important; */
}

.transition {
  position: absolute;
  z-index: 99;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.transition li {
  width: 20%;
  transform: scaleY(0);
  background: #fff;
}
